data/input/camera_1/**/*.png
data/input/camera_2/**/*.png
data/input/camera_3/**/*.png
data/input/camera_4/**/*.png
data/input/camera_5/**/*.png
**/__pycache__
**/visualizations/**
tmp/**
**/yolov5s.pt
outputs/*
**/.DS_Store